<template name="appChat">
	
	<div class="container">
		<div class="input-group">
			<form class="form">
				<input type="text" class="form-control txtName" placeholder="username">
				<input type="text" class="form-control txtText" placeholder="message">
			</form>
		</div>
	</div>

	
	<div class="well">
		<div class="container">
			{{#each messages}}
				<div class="alert alert-info">
					<b> {{name}}</b> : {{text}} 
						<button class="btn btn-danger btn-small btnDelete">&times;
						</button>
				</div>
			{{/each}}
		</div>
	</div>
	

</template>